body {
  background-color: #dddddd;

}
h2 {
  font-size: 50px;
  color: #ffffff;
}
p {
  font-size: 25px;
  color: #ffffff;
}
a {
  color: #ffffff;
}

.centerText {
  text-align: center;
}

#loginDiv {
  width: 25%;
  height: 60%;
  background-color: #757575;
  font-family: Brush Script MT, cursive;
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 3px;
  padding-bottom: 28px;
}

.inputField-button {
  width: 90%;
  height: 7%;
}

#signInHeader {
  /* TODO: center the header */
}

#signIn {
  font-size: 25px;
  font-family: Brush Script MT, cursive;
  color: #ffffff;
  background-color: #fe5c00;


}
#createAccount {
  font-size: 25px;
  font-family: Brush Script MT, cursive;
  color: #ffffff;
  background-color: #fe5c00;
}
#forgotPassword {
  font-size: 25px;
  color: #ffffff;
}
#copyright {
  font-size: 20px;
  color: #ffffff;
}
